PORT=4043
DATABASE_URL=
EMAIL_HOST=
EMAIL_PORT=
EMAIL_SECURE=true
EMAIL_PASSWORD=
EMAIL_FROM_NAME=
EMAIL_FROM_EMAIL=

ACCESS_TOKEN_SECRET=
ACCESS_TOKEN_EXPIRY=
REFRESH_TOKEN_SECRET=
REFRESH_TOKEN_EXPIRY=

LINKEDIN_CLIENT_ID=
LINKEDIN_CLIENT_SECRET=
LINKEDIN_CALLBACK_URL=

SUPER_ADMIN_EMAIL=
SUPER_ADMIN_PASSWORD=

NODE_ENV=
