ACCESS_TOKEN_EXPIRY=60d
DATABASE_URL=your
EMAIL_FROM_EMAIL=hirynn@gmail.com
EMAIL_FROM_NAME="Hirynn System"
EMAIL_HOST=smtp.gmail.com
EMAIL_PASSWORD=c0336802ec0ca6
EMAIL_PORT=587
EMAIL_SECURE=true
LINKEDIN_CALLBACK_URL=https://hirynn-api.voidnepal.com.np/auth/linkedin/redirect
LINKEDIN_CLIENT_ID=86m6prkgfqtcz1
LINKEDIN_CLIENT_SECRET="WPL_AP1.Ur4TBZEOUiH06iYa.ovmVrQ=="
NODE_ENV=production
PORT=4043
REFRESH_TOKEN_EXPIRY=150d
REFRESH_TOKEN_SECRET=a528d0fede3aa1a6369ce7fe75ea69c3
SUPER_ADMIN_EMAIL=superadmin@hirynn.com
SUPER_ADMIN_PASSWORD=798893457
ACCESS_TOKEN_SECRET=supersecret
REFRESH_TOKEN_SECRET=anothersecret
REFRESH_TOKEN_EXPIRY=7d
CLOUDINARY_CLOUD_NAME=your
CLOUDINARY_API_KEY=your
CLOUDINARY_API_SECRET=your
